<% provide(:about,"active") %>
<% provide(:title,"Nosotros") %>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1><font color="blue">Nosotros
				<!-- Quisiera anadir el logo de TaxiExpress
				<img src="/images/logoTaxie.png" width="80" height="68" align="left"> -->
				</h1>	
				<p><font color="#000000" >	BIENVENIDO!!...
					Nos caracterizamos por tener un alto compromiso por tu seguridad, confort y calidad en cada uno de nuestros servicios.
				</p>
			</div>
		</div>
	</div>


	<div class="jumbotron">

	     <style>
	        body {
	        background-color: gold;
	             }
	      </style>
	      </body>
     
		<div class="container">
			<!--Quisiera anadir el logo de TaxiExpress
			<img src="/images/logoTaxie.png" width="67" height="50" align="left">
			-->

	
	    <div class="row">
	        <div class="col-md-6">
	  			<h1><strong><font color="red">TAXI EXPRESS </font></strong></h1>
				
		        <h4><font color="#000000" >SOMOS UNA EMPRESA QUE NACIÓ PARA BRINDARTE LA MEJOR OPCIÓN DE TRANSPORTE PERSONAL EN LA CIUDAD DE LIMA Y EL CALLAO.</h4> 			
			</div>	
			<div class="col-md-6">
				<img src="/images/taxi2.jpg" width="540" height="224" align="center">
		    </div>
	    </div>



		</div>
	</div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
	        <div class="col-md-3">
		        <h2><font color="black">SEGURO</font></h2>
				</p>Por el monitoreo en tiempo real de tu viaje, gracias a un moderno software con soporte satelital permanente. <br> <br> <br> </p>
		      
	        </div>

	        <div class="col-md-3">
	          	<h2>CONFORTABLE</h2>
	          	<p>Por una moderna flota de vehículos debidamente acondicionados para ofrecer un confort acústico, amplitud de interiores, asientos confortables y climatización idónea durante su viaje. </p>
	    
	       </div>

	       <div class="col-md-3">
	         	<h2>OPORTUNO</h2>
	          	<p>Poseemos la tecnología para brindarte un servicio puntual y oportuno, gracias a la aplicación de la telecomunicación satelital y de telefonía continua. <br> <br> </p>
	          	
	        </div>

			<div class="col-md-3">
	          	<h2>CORDIAL</h2>
	          	<p>Nuestro sistema de Evaluación Y Selección del equipo de conductores, pone a su servicio Choferes profesionales que lo atenderá con amabilidad y cortesía.</p>
	        </div>
      </div>

      <hr>
      <footer>
        <p>&copy; [J&M]2 Company - 2015</p>
      </footer>
    </div> <!-- /container -->
