<% provide(:contact,"active") %>
<% provide(:title,"Contacto") %>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1><font color="blue">Contacto
				<!-- Quisiera anadir el logo de TaxiExpress
				<img src="/images/logoTaxie.png" width="80" height="68" align="left"> 
     				usando background
			      <style>
			        body {
			        background-image: url("/images/taxi-background.jpg");
			             }
			      </style>
			      </body>
	 			-->
				</h1>
				<p>	<font color="#000000" > BIENVENIDO!!...
				Porque nos importan todos nuestros clientes, nos acercarnos a ti. <P>
			</div>
		</div>
	</div>

	<div class="jumbotron">
	    <div class="container">

	      <style>
	        body {
	        background-color: gold;
	             }
	      </style>
	      </body>


	    <div class="row">
	        <div class="col-md-6">
	  			<h1><strong><font color="red">TAXI EXPRESS </font></strong></h1>
				
		        <h4><font color="#000000" >PORQUE ESTAMOS PARA SERVIRTE,<br> PUEDES CONTACTARNOS A TRAVES DE LOS SIGUIENTES MEDIOS:</h4> 			
			</div>	
			<div class="col-md-6">
				<img src="/images/contactanos.png" width="480" height="160" align="center">
		    </div>
	    </div>


 		</div>
	</div>
	
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
            <!-- begin main -->
            <h3>Informaci칩n de contacto</h3>
            <p class="address"><strong>Direcci칩n:</strong> La misma de la UPC - Villa </p>
            <p class="phone"><strong>Telefono  :</strong>  5555-555</p>
            <p class="fax"><strong>Celular     :</strong>  99999- 999 </p>
            <p class="email"><strong>Email:</strong> <a href="mailto:4766666@tf.com.pe">4contactanos@taxiexpress.com.pe</a></p>
            <p class="business-hours"><strong>Horario Oficina:</strong><br>
	            Lunes a Viernes: 9:00-18:00<br>
	            Sabados        : 10:00-17:00<br>
	            Domingos       : Por Central<br>
	            Central:  Atenci칩n las 24 horas<br>
	            Servicios:  Las 24 Horas
            </p>
        </div> 

        <div class="col-md-4">
            <h3>Mapa</h3> 
	        <iframe src="https://www.google.com/maps/d/embed?mid=zuWUiVNSD7VY.kBjABtprdrUg" width="640" height="240" ></iframe>
	       <br /><small>Ver <a href="https://www.google.com/maps/d/embed?mid=zuWUiVNSD7VY.kBjABtprdrUg" width="640" height="300" 
	        style="color:#0000FF;text-align:left">TAXI EXPRESS</a> en un mapa m치s grande</small>
		 </div>       
      </div>


      <hr>
      <footer>
        <p>&copy; [J&M]2 Company - 2015</p>
      </footer>
    </div> <!-- /container -->
