<!--<h1>Pages#coverage</h1>
<p>Find me in app/views/pages/coverage.html.erb</p>
-->
<% provide(:coverage,"active") %>
<% provide(:title,"Cobertura") %>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1><font color="blue">Cobertura

				</h1>
				<p>	<font color="#000000" > BIENVENIDO!!...
				Estamos en Toda Lima, y proximamente todo el Peru!. <P>
			</div>
		</div>
	</div>

	<div class="jumbotron">
	    <div class="container">

	      <style>
	        body {
	        background-color: gold;
	             }
	      </style>
	      </body>


	    <div class="row">
	        <div class="col-md-6">
	  			<h1><strong><font color="red">TAXI EXPRESS </font></strong></h1>
				
		        			
			</div>	
			<div class="col-md-6">
				<h6> <br> </h6>
				<img src="/images/mapadoblado.jpeg" width="172" height="52" align="middle">
		    </div>

	    </div>

		    <h4><font color="#000000" >SIEMPRE MEJORANDO PARA USTED, Estamos en todo el Departamento de Lima:</h4> 
				<img src="/images/mapalima.png" >

 		</div>
	</div>
	
    <div class="container">
      <!-- Example row of columns -->
     
      <hr>
      <footer>
        <p>&copy; [J&M]2 Company - 2015</p>
      </footer>
    </div> <!-- /container -->
