<% provide(:fleet,"active") %>
<% provide(:title,"Nuestra Flota") %>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1><font color="blue">Nuestra Flota

				</h1>	
				<p><font color="#000000" >	BIENVENIDO!!...
					Somos un equipo comprometido a servirte como a ti te gusta, brindandote excelente calidad en cada uno de nuestros servicios.
				</p>
			</div>
		</div>
	</div>


	<div class="jumbotron">

	     <style>
	        body {
	        background-color: gold;
	             }
	      </style>
	      </body>
     
		<div class="container">
	
	    <div class="row">
	        <div class="col-md-6">
	  			<h1><strong><font color="red">TAXI EXPRESS </font></strong></h1>
				
		        <h4><font color="#000000" >SOMOS UNA EMPRESA QUE NACIÓ PARA BRINDARTE LA MEJOR OPCIÓN DE TRANSPORTE PERSONAL EN LA CIUDAD DE LIMA Y EL CALLAO.</h4> 			
			</div>	
			<div class="col-md-6">
				<img src="/images/flota1.jpg" width="520" height="300" align="center">
		    </div>
	    </div>



		</div>
	</div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
	        <div class="col-md-3">
		        <h3><font color="black">CONDUCTORES</font></h3>
				</p>Publicamos una lista completa con todos los datos de nuestros conductores asociados. <br> <br> <br> </p>
		        <p><a class="btn btn-default" href="#" role="button">Ver mas.. &raquo;</a></p>
	        </div>

	        <div class="col-md-3">
	          	<h3>VEHICULOS</h3>
	          	<p>Puedes consultar la cantidad y calidad de vehiculos con la contamos. </p>
	          	<p><a class="btn btn-default" href="#" role="button">Ver mas... &raquo;</a></p>
	       </div>

	       <div class="col-md-3">
	         	<h3>SEGUROS</h3>
	          	<p>Contamos con todasa las garantias y seguros para que estes tranquilo y disfrutes de un viaje seguro. <br> <br> </p>
	          	<p><a class="btn btn-default" href="#" role="button">Ver mas... &raquo;</a></p>
	        </div>

			<div class="col-md-3">
	          	<h3>CORDIAL</h3>
	          	<p>Nuestro sistema de Evaluación Y Selección del equipo de conductores, pone a su servicio Choferes profesionales que lo atenderá con amabilidad y cortesía.</p>
	          	<p><a class="btn btn-default" href="#" role="button">Ver mas... &raquo;</a></p>
	        </div>
      </div>

      <hr>
      <footer>
        <p>&copy; [J&M]2 Company - 2015</p>
      </footer>
    </div> <!-- /container -->
