<% provide(:reserve,"active") %>
<% provide(:title,"Reserva") %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Haz tu reserva</h1>	
			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a feugiat purus. Ut faucibus, augue a lobortis efficitur, felis lectus venenatis metus, eu dapibus ex sem eu erat. Duis facilisis pretium dui, a egestas enim auctor ac. Etiam varius ex eget nulla mattis dignissim. Quisque sodales, sem vel varius feugiat, libero lorem viverra ante, in ultricies massa risus imperdiet tortor. Aliquam sapien arcu, maximus sit amet lacinia in, gravida sed arcu.	
			</p>
		</div>
	</div>

</div>
