
<!--<h1>Pages#services</h1>
<p>Find me in app/views/pages/services.html.erb</p>
-->
<% provide(:services,"active") %>
<% provide(:title,"Servicios") %>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1><font color="blue">Servicios

				</h1>
				<p>	<font color="#000000" > BIENVENIDO!!...
				Disculpe, muy pronto contara con mas servicios. <P>
			</div>
		</div>
	</div>

	<div class="jumbotron">
	    <div class="container">

	      <style>
	        body {
	        background-color: gold;
	             }
	      </style>
	      </body>


	    <div class="row">
	        <div class="col-md-6">
	  			<h1><strong><font color="red">TAXI EXPRESS </font></strong></h1>
			</div>	

	    </div>

		    <h4><font color="#000000" >Muy Pronto sabrás de mas servicios:</h4> 
				<img src="/images/construccion.gif" width="485" height="218"  >
				<img src="/images/construccion1.jpeg"  align="middle">


 		</div>
	</div>
	
    <div class="container">
      <!-- Example row of columns -->
     
      <hr>
      <footer>
        <p>&copy; [J&M]2 Company - 2015</p>
      </footer>
    </div> <!-- /container -->
